
.icon-eye:before { content: '\e800'; } /* '' */
.icon-icono-i-1:before { content: '\e801'; } /* '' */
.icon-icono-i-13:before { content: '\e802'; } /* '' */
.icon-icono-i-2:before { content: '\e803'; } /* '' */
.icon-icono-i-3:before { content: '\e804'; } /* '' */
.icon-icono-i-10:before { content: '\e805'; } /* '' */
.icon-icono-i-5:before { content: '\e806'; } /* '' */
.icon-icono-i-4:before { content: '\e807'; } /* '' */
.icon-icono-i-11:before { content: '\e808'; } /* '' */
.icon-icono-i-7:before { content: '\e809'; } /* '' */
.icon-icono-i-6:before { content: '\e80a'; } /* '' */
.icon-bell:before { content: '\e80b'; } /* '' */
.icon-icono-i-12:before { content: '\e80c'; } /* '' */
.icon-icono-i-8:before { content: '\e80d'; } /* '' */
.icon-icono-i-9:before { content: '\e80e'; } /* '' */
.icon-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-picture:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-layout:before { content: '\e813'; } /* '' */
.icon-clock:before { content: '\e814'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-connectdevelop:before { content: '\f20e'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */