.color-1 {
  color: #fec013;
}

.color-2 {
  color: #e6e7e8;
}

.color-3 {
  color: #27336e;
}

.color-b {
  color: #fff;
}

.color-1-b {
  background: #fec013;
}

.color-2-b {
  background: #e6e7e8;
}

.color-3-b {
  background: #27336e;
}

body,
html {
  font-family: 'Roboto', sans-serif !important;
  background: #e6e7e8;
  height: 100%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.my-4.services a {
  width: 24%;
  margin: 4px;
}

.servicio_listado i {
  color: #ffffff;
  font-size: 2rem;
}

.info-servicio-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notificacion-hecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.notificacion-hecha i {
  color: #fec100;
  font-size: 10rem;
}

.notificacion-hecha b {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 400;
}

.notificacion-hecha p {
  font-weight: 100;
  font-size: 16px;
}

/*FONT*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/../fonts/glyphicons-halflings-regular.eot");
  src: url("/../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/../fonts/glyphicons-halflings-regular.woff") format("woff"), url("/../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

.content-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  /* background: red; */
}

.btn-primary-my {
  background: #fdc300;
  width: 94%;
  margin: 0px !important;
}

.register-location {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapg {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a.btn.my-btn-primary {
  background: #fdc200;
  color: #111749;
  padding: 3px 10px;
  line-height: 1;
  border-radius: 60px;
  font-size: 14px;
}

.opciones-btns-mapa h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
}

.btn-ubi {
  background: #fdbf12;
  color: #403411 !important;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

.btn-ubi:hover {
  background: #27336e;
  color: #fff;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

.mapa-modal {
  background: rgba(6, 21, 49, 0.91);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map {
  width: 100%;
  height: 400px;
}

.map {
  height: 600px;
}

.mapg {
  width: 90%;
  height: 400px;
}

.mapg {
  height: 600px;
}

.input-fecha {
  background: #121a48 !important;
  border: none;
  color: #fdc200;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  border-radius: 8px !important;
  margin: 0px !important;
}

.date {
  padding: 0px !important;
}

.stage .form-group {
  margin-bottom: 0px;
}

.input-fecha::-webkit-input-placeholder {
  color: #fdc200 !important;
  font-style: initial;
}

.input-fecha:-ms-input-placeholder {
  color: #fdc200 !important;
  font-style: initial;
}

.input-fecha::-ms-input-placeholder {
  color: #fdc200 !important;
  font-style: initial;
}

.input-fecha::placeholder {
  color: #fdc200 !important;
  font-style: initial;
}

.flex-my-users-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-my-users-select .form-check {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  /* background: red; */
  position: relative;
  padding-left: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-my-users-select .form-check label i {
  font-size: 60px;
}

input.form-check-input {
  position: relative;
  margin: 0px;
  width: 0px;
}

input#exampleRadios2 {
  position: relative;
  margin: 0px;
  width: 0px;
}

input.form-check-input:checked + label i {
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
  color: #fdc200;
  background: #111749;
  border-radius: 10%;
}

input#exampleRadios1:checked + label i {
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
  color: #fdc200;
  background: #111749;
  border-radius: 10%;
}

.flex-my-users-select .form-check label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.input-group-addon {
  width: 0px;
  height: 0px;
}

span.glyphicon.glyphicon-th {
  color: #263170;
}

.stage {
  border-bottom: solid #162261 3px;
}

.d-flex.info-1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.stage h5 {
  font-size: 14px;
  font-weight: 100;
}

button.badge-y {
  font-size: 12px;
  height: 21px;
}

b.t-ser {
  font-weight: 300;
}

.badge-y {
  background: #fdc013;
  margin: 0px;
  color: #27336e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 17px;
  padding: .1rem .9rem;
  width: auto;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 500;
}

.badge-y-out {
  border: solid 2px #fdc013;
  margin: 0px;
  color: #fdc013;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 17px;
  padding: .001rem .8rem;
  width: auto;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 500;
}

.info-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.selector_horas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.selector_horas_btns {
  width: 150px;
  height: 34px !important;
  -webkit-box-align: center;
  background: #fdc100;
  border-radius: 70px;
  margin-top: 10px;
  padding: 10px;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
}

.info-user-select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name-hora {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}

.hora-def {
  color: #fcc013;
  font-size: 14px;
  border: solid 2px #fcc013;
  border-radius: 10px;
  margin-top: 5px !important;
  display: block;
  position: relative;
  padding: .2rem .5rem;
}

.name-hora p {
  margin-left: 6px !important;
}

.info-user-select p {
  height: auto;
  margin: 0px;
  line-height: normal;
}

.selector_horas a {
  background: #fcc013;
  height: 25px;
  border: solid 2px #27336e;
  color: #27336e !important;
  width: 25px;
  border-radius: 100%;
  font-weight: 400;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.badge-y p {
  font-size: 16px;
  font-weight: 500;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.glyphicon-asterisk:before {
  content: "*";
}

.glyphicon-plus:before {
  content: "+";
}

.glyphicon-euro:before {
  content: "\20AC";
}

.glyphicon-minus:before {
  content: "\2212";
}

.glyphicon-cloud:before {
  content: "\2601";
}

.glyphicon-envelope:before {
  content: "\2709";
}

.glyphicon-pencil:before {
  content: "\270F";
}

.glyphicon-glass:before {
  content: "\E001";
}

.glyphicon-music:before {
  content: "\E002";
}

.glyphicon-search:before {
  content: "\E003";
}

.glyphicon-heart:before {
  content: "\E005";
}

.glyphicon-star:before {
  content: "\E006";
}

.glyphicon-star-empty:before {
  content: "\E007";
}

.glyphicon-user:before {
  content: "\E008";
}

.glyphicon-film:before {
  content: "\E009";
}

.glyphicon-th-large:before {
  content: "\E010";
}

.glyphicon-th:before {
  content: "\E011";
}

.glyphicon-th-list:before {
  content: "\E012";
}

.glyphicon-ok:before {
  content: "\E013";
}

.glyphicon-remove:before {
  content: "\E014";
}

.glyphicon-zoom-in:before {
  content: "\E015";
}

.glyphicon-zoom-out:before {
  content: "\E016";
}

.glyphicon-off:before {
  content: "\E017";
}

.glyphicon-signal:before {
  content: "\E018";
}

.glyphicon-cog:before {
  content: "\E019";
}

.glyphicon-trash:before {
  content: "\E020";
}

.glyphicon-home:before {
  content: "\E021";
}

.glyphicon-file:before {
  content: "\E022";
}

.glyphicon-time:before {
  content: "\E023";
}

.glyphicon-road:before {
  content: "\E024";
}

.glyphicon-download-alt:before {
  content: "\E025";
}

.glyphicon-download:before {
  content: "\E026";
}

.glyphicon-upload:before {
  content: "\E027";
}

.glyphicon-inbox:before {
  content: "\E028";
}

.glyphicon-play-circle:before {
  content: "\E029";
}

.glyphicon-repeat:before {
  content: "\E030";
}

.glyphicon-refresh:before {
  content: "\E031";
}

.glyphicon-list-alt:before {
  content: "\E032";
}

.glyphicon-flag:before {
  content: "\E034";
}

.glyphicon-headphones:before {
  content: "\E035";
}

.glyphicon-volume-off:before {
  content: "\E036";
}

.glyphicon-volume-down:before {
  content: "\E037";
}

.glyphicon-volume-up:before {
  content: "\E038";
}

.glyphicon-qrcode:before {
  content: "\E039";
}

.glyphicon-barcode:before {
  content: "\E040";
}

.glyphicon-tag:before {
  content: "\E041";
}

.glyphicon-tags:before {
  content: "\E042";
}

.glyphicon-book:before {
  content: "\E043";
}

.glyphicon-print:before {
  content: "\E045";
}

.glyphicon-font:before {
  content: "\E047";
}

.glyphicon-bold:before {
  content: "\E048";
}

.glyphicon-italic:before {
  content: "\E049";
}

.glyphicon-text-height:before {
  content: "\E050";
}

.glyphicon-text-width:before {
  content: "\E051";
}

.glyphicon-align-left:before {
  content: "\E052";
}

.glyphicon-align-center:before {
  content: "\E053";
}

.glyphicon-align-right:before {
  content: "\E054";
}

.glyphicon-align-justify:before {
  content: "\E055";
}

.glyphicon-list:before {
  content: "\E056";
}

.glyphicon-indent-left:before {
  content: "\E057";
}

.glyphicon-indent-right:before {
  content: "\E058";
}

.glyphicon-facetime-video:before {
  content: "\E059";
}

.glyphicon-picture:before {
  content: "\E060";
}

.glyphicon-map-marker:before {
  content: "\E062";
}

.glyphicon-adjust:before {
  content: "\E063";
}

.glyphicon-tint:before {
  content: "\E064";
}

.glyphicon-edit:before {
  content: "\E065";
}

.glyphicon-share:before {
  content: "\E066";
}

.glyphicon-check:before {
  content: "\E067";
}

.glyphicon-move:before {
  content: "\E068";
}

.glyphicon-step-backward:before {
  content: "\E069";
}

.glyphicon-fast-backward:before {
  content: "\E070";
}

.glyphicon-backward:before {
  content: "\E071";
}

.glyphicon-play:before {
  content: "\E072";
}

.glyphicon-pause:before {
  content: "\E073";
}

.glyphicon-stop:before {
  content: "\E074";
}

.glyphicon-forward:before {
  content: "\E075";
}

.glyphicon-fast-forward:before {
  content: "\E076";
}

.glyphicon-step-forward:before {
  content: "\E077";
}

.glyphicon-eject:before {
  content: "\E078";
}

.glyphicon-chevron-left:before {
  content: "\E079";
}

.glyphicon-chevron-right:before {
  content: "\E080";
}

.glyphicon-plus-sign:before {
  content: "\E081";
}

.glyphicon-minus-sign:before {
  content: "\E082";
}

.glyphicon-remove-sign:before {
  content: "\E083";
}

.glyphicon-ok-sign:before {
  content: "\E084";
}

.glyphicon-question-sign:before {
  content: "\E085";
}

.glyphicon-info-sign:before {
  content: "\E086";
}

.glyphicon-screenshot:before {
  content: "\E087";
}

.glyphicon-remove-circle:before {
  content: "\E088";
}

.glyphicon-ok-circle:before {
  content: "\E089";
}

.glyphicon-ban-circle:before {
  content: "\E090";
}

.glyphicon-arrow-left:before {
  content: "\E091";
}

.glyphicon-arrow-right:before {
  content: "\E092";
}

.glyphicon-arrow-up:before {
  content: "\E093";
}

.glyphicon-arrow-down:before {
  content: "\E094";
}

.glyphicon-share-alt:before {
  content: "\E095";
}

.glyphicon-resize-full:before {
  content: "\E096";
}

.glyphicon-resize-small:before {
  content: "\E097";
}

.glyphicon-exclamation-sign:before {
  content: "\E101";
}

.glyphicon-gift:before {
  content: "\E102";
}

.glyphicon-leaf:before {
  content: "\E103";
}

.glyphicon-eye-open:before {
  content: "\E105";
}

.glyphicon-eye-close:before {
  content: "\E106";
}

.glyphicon-warning-sign:before {
  content: "\E107";
}

.glyphicon-plane:before {
  content: "\E108";
}

.glyphicon-random:before {
  content: "\E110";
}

.glyphicon-comment:before {
  content: "\E111";
}

.glyphicon-magnet:before {
  content: "\E112";
}

.glyphicon-chevron-up:before {
  content: "\E113";
}

.glyphicon-chevron-down:before {
  content: "\E114";
}

.glyphicon-retweet:before {
  content: "\E115";
}

.glyphicon-shopping-cart:before {
  content: "\E116";
}

.glyphicon-folder-close:before {
  content: "\E117";
}

.glyphicon-folder-open:before {
  content: "\E118";
}

.glyphicon-resize-vertical:before {
  content: "\E119";
}

.glyphicon-resize-horizontal:before {
  content: "\E120";
}

.glyphicon-hdd:before {
  content: "\E121";
}

.glyphicon-bullhorn:before {
  content: "\E122";
}

.glyphicon-certificate:before {
  content: "\E124";
}

.glyphicon-thumbs-up:before {
  content: "\E125";
}

.glyphicon-thumbs-down:before {
  content: "\E126";
}

.glyphicon-hand-right:before {
  content: "\E127";
}

.glyphicon-hand-left:before {
  content: "\E128";
}

.glyphicon-hand-up:before {
  content: "\E129";
}

.glyphicon-hand-down:before {
  content: "\E130";
}

.glyphicon-circle-arrow-right:before {
  content: "\E131";
}

.glyphicon-circle-arrow-left:before {
  content: "\E132";
}

.glyphicon-circle-arrow-up:before {
  content: "\E133";
}

.glyphicon-circle-arrow-down:before {
  content: "\E134";
}

.glyphicon-globe:before {
  content: "\E135";
}

.glyphicon-tasks:before {
  content: "\E137";
}

.glyphicon-filter:before {
  content: "\E138";
}

.glyphicon-fullscreen:before {
  content: "\E140";
}

.glyphicon-dashboard:before {
  content: "\E141";
}

.glyphicon-heart-empty:before {
  content: "\E143";
}

.glyphicon-link:before {
  content: "\E144";
}

.glyphicon-phone:before {
  content: "\E145";
}

.glyphicon-usd:before {
  content: "\E148";
}

.glyphicon-gbp:before {
  content: "\E149";
}

.glyphicon-sort:before {
  content: "\E150";
}

.glyphicon-sort-by-alphabet:before {
  content: "\E151";
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\E152";
}

.glyphicon-sort-by-order:before {
  content: "\E153";
}

.glyphicon-sort-by-order-alt:before {
  content: "\E154";
}

.glyphicon-sort-by-attributes:before {
  content: "\E155";
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\E156";
}

.glyphicon-unchecked:before {
  content: "\E157";
}

.glyphicon-expand:before {
  content: "\E158";
}

.glyphicon-collapse-down:before {
  content: "\E159";
}

.glyphicon-collapse-up:before {
  content: "\E160";
}

.glyphicon-log-in:before {
  content: "\E161";
}

.glyphicon-flash:before {
  content: "\E162";
}

.glyphicon-log-out:before {
  content: "\E163";
}

.glyphicon-new-window:before {
  content: "\E164";
}

.glyphicon-record:before {
  content: "\E165";
}

.glyphicon-save:before {
  content: "\E166";
}

.glyphicon-open:before {
  content: "\E167";
}

.glyphicon-saved:before {
  content: "\E168";
}

.glyphicon-import:before {
  content: "\E169";
}

.glyphicon-export:before {
  content: "\E170";
}

.glyphicon-send:before {
  content: "\E171";
}

.glyphicon-floppy-disk:before {
  content: "\E172";
}

.glyphicon-floppy-saved:before {
  content: "\E173";
}

.glyphicon-floppy-remove:before {
  content: "\E174";
}

.glyphicon-floppy-save:before {
  content: "\E175";
}

.glyphicon-floppy-open:before {
  content: "\E176";
}

.glyphicon-credit-card:before {
  content: "\E177";
}

.glyphicon-transfer:before {
  content: "\E178";
}

.glyphicon-cutlery:before {
  content: "\E179";
}

.glyphicon-header:before {
  content: "\E180";
}

.glyphicon-compressed:before {
  content: "\E181";
}

.glyphicon-earphone:before {
  content: "\E182";
}

.glyphicon-phone-alt:before {
  content: "\E183";
}

.glyphicon-tower:before {
  content: "\E184";
}

.glyphicon-stats:before {
  content: "\E185";
}

.glyphicon-sd-video:before {
  content: "\E186";
}

.glyphicon-hd-video:before {
  content: "\E187";
}

.glyphicon-subtitles:before {
  content: "\E188";
}

.glyphicon-sound-stereo:before {
  content: "\E189";
}

.glyphicon-sound-dolby:before {
  content: "\E190";
}

.glyphicon-sound-5-1:before {
  content: "\E191";
}

.glyphicon-sound-6-1:before {
  content: "\E192";
}

.glyphicon-sound-7-1:before {
  content: "\E193";
}

.glyphicon-copyright-mark:before {
  content: "\E194";
}

.glyphicon-registration-mark:before {
  content: "\E195";
}

.glyphicon-cloud-download:before {
  content: "\E197";
}

.glyphicon-cloud-upload:before {
  content: "\E198";
}

.glyphicon-tree-conifer:before {
  content: "\E199";
}

.glyphicon-tree-deciduous:before {
  content: "\E200";
}

.glyphicon-briefcase:before {
  content: "\1F4BC";
}

.glyphicon-calendar:before {
  content: "\1F4C5";
}

.glyphicon-pushpin:before {
  content: "\1F4CC";
}

.glyphicon-paperclip:before {
  content: "\1F4CE";
}

.glyphicon-camera:before {
  content: "\1F4F7";
}

.glyphicon-lock:before {
  content: "\1F512";
}

.glyphicon-bell:before {
  content: "\1F514";
}

.glyphicon-bookmark:before {
  content: "\1F516";
}

.glyphicon-fire:before {
  content: "\1F525";
}

.glyphicon-wrench:before {
  content: "\1F527";
}

/*FONT*/

div#app {
  height: 100%;
}

a {
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
}

.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: red;
}

.mysubmit {
  background: #fdc013;
  font-weight: 600;
  color: #26336e;
}

.servicio_listado {
  background: #26336e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  position: relative;
}

.servicio_listado h4 {
  color: #FFF !important;
  font-weight: 500 !important;
}

.servicio_listado p {
  margin: 0px;
  line-height: 1;
  color: #26336e;
  font-weight: 600;
  background: #fdc013;
  padding: .2rem 10px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 13px;
  width: 150px;
  text-align: center;
}

.form-control:focus {
  color: #495057;
  background-color: gainsboro !important;
  border-color: #f7921e !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

@font-face {
  font-family: 'fontello';
  src: url("/../font/icons/font/fontello.eot?45396331");
  src: url("/../font/icons/font/fontello.eot?45396331#iefix") format("embedded-opentype"), url("/../font/icons/font/fontello.woff2?45396331") format("woff2"), url("/../font/icons/font/fontello.woff?45396331") format("woff"), url("/../font/icons/font/fontello.ttf?45396331") format("truetype"), url("/../font/icons/font/fontello.svg?45396331#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

a.btn-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

a.btn-home:hover {
  background: #1a224c;
}

a.btn-home p {
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 5px;
}

span.line-home-btn {
  background: #fdc013;
  width: 50px;
  height: 2px;
}

.box-sub-titulo {
  background: #fec013;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-sub-titulo h1 {
  font-size: 20px;
  margin: 0px;
  font-style: italic;
  color: #27336e;
}

.b-general {
  height: 80%;
  top: 0px;
}

.box-p-h {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-p {
  background: #27336e;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #1f2958;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-p i {
  color: #fff;
  font-size: 50px;
}

.botones_p {
  background: green;
  height: 100%;
}

.my-no-gutters {
  max-width: 100%;
  padding: 0px;
  padding: 0px;
  width: 1200px;
  margin: auto;
}

.panel-body.header-name {
  margin: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.panel-body.header-name h3 {
  margin: 0px;
  color: #27336e;
  font-weight: 100;
}

.panel-body.header-name h4 {
  margin: 0px;
  color: #27336e;
  font-weight: 500;
}

.info-servicio-box h4 {
  font-size: 15px;
}

ul.menu-user-opt li a {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

span.box-mini-li {
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  background: #fdc013;
  margin-right: 10px;
}

.cerrar-btn {
  color: #fff !important;
  position: absolute;
  font-size: 30px !important;
  top: 0%;
  z-index: 9999;
  background: #fdc000;
  cursor: pointer;
  right: 0%;
  border-radius: 0px 0px 0px 10px;
}

ul.menu-user-opt li {
  margin-bottom: 10px;
  list-style: none;
}

ul.menu-user-opt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -38px;
}

.my-nav {
  width: 1140px;
  max-width: 100%;
}

.menu-user-on i {
  color: #fec013;
  font-size: 80px;
}

.menu-user-on {
  display: none;
  background: rgba(14, 23, 55, 0.92);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 1;
  padding-top: 30px;
  color: #fff;
  overflow: scroll;
}

.logo-icon img {
  width: 120px;
}

.menu-user {
  font-size: 30px;
  color: #27336e;
}

.box-register {
  width: 310px;
  max-width: 100%;
}

.loader {
  background: #e6e7e8;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 2;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-control:focus {
  color: #495057;
  background-color: rgba(0, 123, 255, 0);
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.my-input {
  color: #27336e !important;
  background: none;
  border: none;
  border-bottom: solid 1px #27336e;
  border-radius: 0px;
}

.my-btn {
  border: none;
  width: 100%;
}

img.img-fluid.loading {
  width: 90px;
  margin-top: 20px;
}

.on {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.logo-loader {
  width: 200px;
  height: 200px;
}

.color-marca {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec013+0,fcb025+50,fec013+100 */
  background: #fec013;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fec013 0%, #fcb025 50%, #fec013 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec013', endColorstr='#fec013',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.container-fluid-my {
  height: 100%;
}

.panel-heading.logo-style {
  background: #e6e7e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.panel-heading.logo-style img {
  width: 70%;
  height: auto;
}

.my-input {
  background: none;
  border: none;
  border-bottom: solid 1px #27336e;
  border-radius: 0px;
}

::-webkit-input-placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

:-ms-input-placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

::-ms-input-placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

::placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1b234c;
  border-color: none;
}

@media screen and (max-width: 980px) {
  .my-4.services a {
    width: 32%;
    margin: 4px;
  }

  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*MOVIL*/

@media screen and (max-width: 768px) {
  .my-4.services a {
    width: 48%;
    margin: 4px;
  }

  .mapg {
    height: 80%;
  }

  .map {
    height: 100%;
  }

  .btns-mapa-op {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .btn-ubi {
    width: 90%;
    margin-bottom: 10px;
    background: #fdbf12;
    color: #403411;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  table.table-condensed {
    width: 100%;
  }

  .datetimepicker {
    width: 100%;
    left: 0px !important;
    padding: 4px;
    margin-top: 1px;
    border-radius: 4px;
    direction: ltr;
  }

  ul.menu-user-opt {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: -38px;
  }

  .my-no-gutters {
    margin: 0px !important;
    padding: 0px;
    padding: 0px;
    width: 100%;
  }

  .menu-user {
    font-size: 26px;
    color: #27336e;
  }

  .logo-icon img {
    width: 80px;
  }

  .panel-heading.logo-style img {
    width: 60%;
    height: auto;
  }

  .panel-heading.logo-style {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 570px) {
  .my-4.services a {
    width: 100%;
    margin: 4px;
  }
}

