.color-1 {
  color: #fec013;
}

.color-2 {
  color: #e6e7e8;
}

.color-3 {
  color: #27336e;
}

.color-1-b {
  background: #fec013;
}

.color-2-b {
  background: #e6e7e8;
}

.color-3-b {
  background: #27336e;
}

body,
html {
  font-family: 'Roboto', sans-serif !important;
  background: #e6e7e8;
  height: 100%;
}

div#app {
  height: 100%;
}

a {
  -webkit-transition: all ease .8s;
  transition: all ease .8s;
}

.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  background: red;
}

.mysubmit {
  background: #fdc013;
  font-weight: 600;
  color: #26336e;
}

.servicio_listado {
  background: #26336e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicio_listado h4 {
  color: #FFF !important;
  font-weight: 500 !important;
}

.servicio_listado p {
  margin: 0px;
  line-height: 1;
  color: #26336e;
  font-weight: 600;
  background: #fdc013;
  padding: .2rem 10px;
  margin-left: 10px;
  font-size: 14px;
  border-radius: 13px;
  margin-right: 10px;
}

.form-control:focus {
  color: #495057;
  background-color: gainsboro !important;
  border-color: #f7921e !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

@font-face {
  font-family: 'fontello';
  src: url("/../font/icons/font/fontello.eot?45396331");
  src: url("/../font/icons/font/fontello.eot?45396331#iefix") format("embedded-opentype"), url("/../font/icons/font/fontello.woff2?45396331") format("woff2"), url("/../font/icons/font/fontello.woff?45396331") format("woff"), url("/../font/icons/font/fontello.ttf?45396331") format("truetype"), url("/../font/icons/font/fontello.svg?45396331#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

a.btn-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

a.btn-home:hover {
  background: #1a224c;
}

a.btn-home p {
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 5px;
}

span.line-home-btn {
  background: #fdc013;
  width: 50px;
  height: 2px;
}

.box-sub-titulo {
  background: #fec013;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-sub-titulo h1 {
  font-size: 20px;
  margin: 0px;
  font-style: italic;
  color: #27336e;
}

.b-general {
  height: 80%;
  top: 0px;
}

.box-p-h {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-p {
  background: #27336e;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #1f2958;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-p i {
  color: #fff;
  font-size: 50px;
}

.botones_p {
  background: green;
  height: 100%;
}

.my-no-gutters {
  max-width: 100%;
  padding: 0px;
  padding: 0px;
  width: 1200px;
  margin: auto;
}

.panel-body.header-name {
  margin: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.panel-body.header-name h3 {
  margin: 0px;
  color: #27336e;
  font-weight: 100;
}

.panel-body.header-name h4 {
  margin: 0px;
  color: #27336e;
  font-weight: 500;
}

ul.menu-user-opt li a {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

span.box-mini-li {
  width: 7px;
  height: 7px;
  display: block;
  position: relative;
  background: #fdc013;
  margin-right: 10px;
}

.cerrar-u-m {
  color: #fff !important;
  position: absolute;
  font-size: 30px !important;
  top: 2%;
  right: 4%;
}

ul.menu-user-opt li {
  margin-bottom: 10px;
  list-style: none;
}

ul.menu-user-opt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -38px;
}

.my-nav {
  width: 1140px;
  max-width: 100%;
}

.menu-user-on i {
  color: #fec013;
  font-size: 80px;
}

.menu-user-on {
  display: none;
  background: rgba(14, 23, 55, 0.92);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 1;
  padding-top: 30px;
  color: #fff;
  overflow: scroll;
}

.logo-icon img {
  width: 120px;
}

.menu-user {
  font-size: 30px;
  color: #27336e;
}

.box-register {
  width: 310px;
  max-width: 100%;
}

.loader {
  background: #e6e7e8;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 2;
  top: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-control:focus {
  color: #495057;
  background-color: rgba(0, 123, 255, 0);
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.my-input {
  color: #27336e !important;
  background: none;
  border: none;
  border-bottom: solid 1px #27336e;
  border-radius: 0px;
}

.my-btn {
  border: none;
  width: 100%;
}

img.img-fluid.loading {
  width: 90px;
  margin-top: 20px;
}

.on {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.logo-loader {
  width: 200px;
  height: 200px;
}

.color-marca {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec013+0,fcb025+50,fec013+100 */
  background: #fec013;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fec013 0%, #fcb025 50%, #fec013 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec013', endColorstr='#fec013',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.container-fluid-my {
  height: 100%;
}

.panel-heading.logo-style {
  background: #e6e7e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.panel-heading.logo-style img {
  width: 70%;
  height: auto;
}

.my-input {
  background: none;
  border: none;
  border-bottom: solid 1px #27336e;
  border-radius: 0px;
}

::-webkit-input-placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

:-ms-input-placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

::-ms-input-placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

::placeholder {
  color: rgba(39, 51, 110, 0.71) !important;
  opacity: 1;
  font-style: italic;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1b234c;
  border-color: none;
}

/*MOVIL*/

@media screen and (max-width: 768px) {
  ul.menu-user-opt {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: -38px;
  }

  .my-no-gutters {
    margin: 0px !important;
    padding: 0px;
    padding: 0px;
    width: 100%;
  }

  .menu-user {
    font-size: 26px;
    color: #27336e;
  }

  .logo-icon img {
    width: 80px;
  }

  .panel-heading.logo-style img {
    width: 60%;
    height: auto;
  }

  .panel-heading.logo-style {
    width: 100px;
    height: 100px;
  }
}

