
// Body
$body-bg: #e6e7e8;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Roboto', sans-serif;

$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$color-1: #fec013;
$color-2: #e6e7e8;
$color-3: #27336e;
$color-b: #fff;

.color-1{
	color: $color-1;
}
.color-2{
	color: $color-2;
}
.color-3{
	color: $color-3;
}
.color-b{
	color: $color-b;
}

.color-1-b{
	background: $color-1;
}
.color-2-b{
	background: $color-2;
}
.color-3-b{
	background: $color-3;
}






